.general-container{
    display: flex;
    grid-template-rows: 1fr 1fr 1fr;
}















div.page5-menu {
    background-color: #6b4732;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.page5-menu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.page5-menu a:hover {
    background-color: #777;
  }